<footer>
    <div class="container py-lg-10 py-8 border-bottom">
        <div class="d-lg-flex justify-content-between">
            <h2 class="text-center mb-3">想看什麼主題由你決定！</h2>
            <div class="contact text-lg-end text-center">
                <p class="mb-lg-4 mb-6">歡迎投稿與我們分享</p>
                <a href="#" class="btn btn-secondary-200 text-white">
                    聯絡我們
                </a>
            </div>
        </div>
    </div>
    <p class="text-center py-lg-5 py-4 text-gray-300 fw-600">©Vivre 2024 All right Reserved</p>
</footer>