<header>
    <nav class="navbar navbar-expand-lg p-0">
        <div class="container border-bottom gray-secondary-300">
          <a class="navbar-brand" href="index.html"><h1 class="me-6 py-lg-5">Vivre</h1></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="search d-flex me-auto input-group w-100 my-3 px-1 text-white bg-white" role="search">
                <label class="search-text input-group-text" for="search">搜尋文章</label>
                <input type="text" class="form-control ps-0 bg-white" id="search" aria-label="Amount (to the nearest dollar)">
                <a href="#" class="input-group-text">
                  <i class="bi bi-search text-secondary-200"></i>
                </a>
            </form>
            <ul class="navbar-nav header-nav mb-lg-0 d-flex">
              <li class="nav-item ms-lg-8 mb-5 mb-lg-0">
                <a class="nav-link" aria-current="page" href="#">所有文章</a>
              </li>
              <li class="nav-item ms-lg-8 mb-5 mb-lg-0">
                <a class="nav-link" href="subscribePage.html">訂閱方案</a>
              </li>
              <li class="nav-item ms-lg-8 mb-5 mb-lg-0">
                <a class="nav-link" href="#">關於我們</a>
              </li>
              <li class=" nav-item ms-lg-8">
                    <button type="button" class="login-btn btn btn-secondary-200 px-5 py-3">
                        登入 / 註冊
                    </button>
              </li>           
            </ul>
          </div>
        </div>
      </nav>
</header>