<div class="swiper everyoneWatchSwiper mb-3">
    <div class="swiper-wrapper">

      <div class="swiper-slide pb-4 w-100">
        <div class="card border-0 h-100">
            <div class="tab-pane" id="runningMap" role="tabpanel" aria-labelledby="runningMap-list">
            <h3 class="fs-4 mb-4 text-secondary-200">酒精路跑地圖</h3>
            <ul class="ps-0 d-grid mb-6 text">
              <li class="mb-4"><a href="#">｜城市酒吧人氣榜,盤點當紅熱門酒吧</a></li>
              <li class="mb-4"><a href="#">｜你要的調酒師在這裡！五月全台酒吧客座活動整理</a></li>
              <li class="mb-4"><a href="#">｜台南老宅手工酒藏,尋味百年人文釀意</a></li>
            </ul>
            <div class="mt-3">
                <img class="w-100 object-fit-cover" src="../assets/images/hots-1-sm.png" alt="">
            </div>
            <div class="d-flex justify-content-between py-4 flex-column flex-lg-row">
                <div>
                    <div class="badge bg-primary-300 text-primary-400 me-2">#夜貓行程</div>
                    <div class="badge bg-primary-300 text-primary-400 me-2">#barhopping</div>
                    <div class="badge bg-primary-300 text-primary-400">#全台酒吧</div>
                </div>
                <div class="text-center text-lg-start mt-4">
                    <a href="#" class="fw-bold">View More <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
        </div>                   
      </div>
      
      <div class="swiper-slide pb-4 w-100">
        <div class="card border-0 h-100">
          <picture>
            <source media="(min-width: 992px)" srcset="../assets/images/articles-2-sm.png">
            <img class="card-img-top mb-5" src="../assets/images/articles-2.png" alt="">
          </picture>
          <h3 class="fs-5 mt-4 fw-900">窺探米其林三星主廚的絕密手藝</h3>
          <p class="mt-2 mb-4 fw-600 gray-600">在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...</p>
          <div class="d-flex justify-content-between align-items-center">
           <a href="#">Read More</a>
           <p class="only-staff py-1 px-2 rounded-1">會員專屬</p>
          </div>
        </div>               
      </div>

      <div class="swiper-slide pb-4 w-100">
        <div class="card border-0 h-100">
          <picture>
            <source media="(min-width: 992px)" srcset="../assets/images/articles-1-sm.png">
            <img class="card-img-top mb-5" src="../assets/images/articles-1.png" alt="">
          </picture>
          <h3 class="fs-5 mt-4 fw-900">窺探米其林三星主廚的絕密手藝</h3>
          <p class="mt-2 mb-4 fw-600 gray-600">在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...</p>
          <div class="d-flex justify-content-between align-items-center">
           <a href="#">Read More</a>
           <p class="only-staff py-1 px-2 rounded-1">會員專屬</p>
          </div>
        </div>               
      </div>

      <div class="swiper-slide pb-4 w-100">
        <div class="card border-0 h-100">
          <picture>
            <source media="(min-width: 992px)" srcset="../assets/images/articles-2-sm.png">
            <img class="card-img-top mb-5" src="../assets/images/articles-2.png" alt="">
          </picture>
          <h3 class="fs-5 mt-4 fw-900">窺探米其林三星主廚的絕密手藝</h3>
          <p class="mt-2 mb-4 fw-600 gray-600">在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...</p>
          <div class="d-flex justify-content-between align-items-center">
           <a href="#">Read More</a>
           <p class="only-staff py-1 px-2 rounded-1">會員專屬</p>
          </div>
        </div>               
      </div>

      
    </div>
  </div>